.button-yellow {
  background: $yellow;


  color: $brand-primary-color;

  border-radius: 5px;
  text-transform: uppercase;

}

.button-medium-blue {
  background: $medium-blue;
  color: $light-blue;

}

.button-brand-footer-color {
  background: $brand-primary-color;

  color: $light-blue;
}
